body, html{
    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Oxanium", sans-serif;
    --primary-color: #4ade80;
}
.header{
    display: flex;
    align-items: center;
    background-color: #f0fdfa;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
}
#logo{
    height: 4rem;
    width: 4rem;
}
#add-book{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    border: none; 
    cursor: pointer;
    transition: transform 0.3s ease;
}
#add-book:hover {
    transform: scale(2); 
}
.card{
    width: 275px;
    height: 275px;
    border-radius: 10px;
    background-color: #fafafa;
    width: 100%;
}
.add-book-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-card{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 16px; 
    padding: 30px;
}
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;

}
input[type="checkbox"]:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);  
    border-radius: 1px;
    transition: background-color 0.3s ease;
}
input[type="checkbox"]:hover {
    border-color: var(--primary-color); 
}
label{
    display: flex;
    align-items: center;
}
.remove-button{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
    align-self: flex-end;
    font-family: "Oxanium", sans-serif;
    font-weight: bold;
}
.remove-button:hover{
    background-color: red;
    color: #fafafa;
}
dialog{
    width: 300px;
    height: 250px;
}
dialog[open] ~ * {
    filter: blur(3px);
}
#book-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.close-button {
    position: absolute;
    top: -10px;  
    right: -10px; 
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.read-dialog{
    display: flex;
}
#submit-button{
    background-color: var(--primary-color);
    width: 100px;
    border-radius: 10px;
    font-family: "Oxanium", sans-serif;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 0px;
    bottom: -30px;
}


